body {
    padding-top: 45px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    background-color: #303030;
}

::selection {
    background-color: #4673a3;
    color: #FFFFFF;
}

#hbcontents {
    position: fixed;
    width: 100%;
    top: 40px;
    bottom: 0;
    overflow: auto;
}

.uicontainer {
    display: none;
}

.apploader {
    text-align: center;
}

.apploader .mainlogo, .notready .mainlogo {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin-top: 100px;
    margin-bottom: 20px;
}

.notready .mainlogo {
    margin-top: 50px;
}

.notready .lead {
    font-size: 2em;
}

.apploader .row {
    margin: 0;
}

#electron-titlebar {
    background-color: #222222;
}

#electron-titlebar > .button img {
    filter: invert(100%) !important;
}

#electron-titlebar .title {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
}

#electron-titlebar .title-logo {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 8px;
    left: 8px;
}

html[electron-titlebar-platform="darwin"] #electron-titlebar .title-logo {
    top: 4px;
    right: 8px;
    left: initial;
}

.acctframe {
    width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px 60px;
}

.accounts .mainlogo {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    margin-bottom: 10px;
}

.has-success .form-control, .has-success .form-control:focus {
    border: solid 2px #00bc8c;
}

.has-error .form-control, .has-error .form-control:focus {
    border: solid 2px #e74c3c;
}

.muted {
    opacity: 0.75;
    font-size: 0.75em;
}

.mainwindow {
    padding-left: 250px;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    top: 40px;
    bottom: 0;
    margin-left: -250px;
    display: flex;
    flex-direction: column;
    background: #222222;
}

.contentwindow {
    position: fixed;
    padding: 20px;
    left: 250px;
    top: 40px;
    right: 0;
    bottom: 0;
    background-color: #DDDDDD;
    color: #222222;
    overflow: auto;
    -webkit-user-select: initial;
    user-select: initial;
    cursor: initial;
}

.contentwindow.editor {
    -webkit-user-select: none;
    user-select: initial;
    cursor: default;
}

.bubble-item {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    font-size: 15px;
    background-color: #4673a3;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    border-radius: 50%;
}

.bubble-inner {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    display: table-cell;
}

.sidebar .media-left, .commentsection .media-left {
    vertical-align: middle;
}

.sidebar .btn {
    border-radius: 0;
}

.sidebar .btn:focus {
    outline: 0;
    border-color: transparent;
}

.btn .media {
    white-space: initial;
}

.sidebar .list-wrapper {
    overflow-y: auto;
}

.sidebar .list-group {
    margin-bottom: 0;
}

.sidebar .list-wrapper > .list-group {
    flex-grow: 1;
}

.sidebar .list-group-item {
    border-radius: 0;
    color: #FFFFFF;
}

.sidebar .list-group-item:focus, .sidebar .list-group-item:hover {
    color: #FFFFFF;
}

.sidebar .alert {
    border-radius: 0;
    margin: 0;
}

.media .badge:first-child {
    margin-right: 5px;
}

.sidebar .form-group {
    margin: 0;
}

.hbeditor h1, .hbviewer h1 {
    font-size: 4em;
    font-weight: bold;
}

.hbeditor .panel, .hbviewer .panel {
    background-color: #DDDDDD;
    color: #222222;
}

.panel-body.focused {
    background-color: #EEEEEE;
}

.hbeditor .panel-primary .panel-footer, .hbviewer .panel-primary .panel-footer {
    background-color: #D3DBE3;
    border-color: #9AB9DA;
    color: #375a7f;
}

.hbeditor .panel-success .panel-footer, .hbviewer .panel-success .panel-footer {
    background-color: #d3e3df;
    border-color: #9adaca;
    color: #00bc8c;
}

.hbeditor .panel-danger .panel-footer, .hbviewer .panel-danger .panel-footer {
    background-color: #e3d5d3;
    border-color: #daa19a;
    color: #e74c3c;
}

.hbeditor .panel-default .panel-footer, .hbviewer .panel-default .panel-footer {
    background-color: #cecece;
    border-color: #989898;
}

.editor:focus {
    outline: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.pulsing {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein {
    animation: fade-in 1s ease-in;
}

@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}

.panel img {
    max-width: 100%;
}

.hbviewer .panel a {
    color: inherit;
}

.commenteditor {
    background-color: #EEEEEE;
    color: #222222;
    border: solid 2px #777777;
    border-radius: 5px;
    padding: 5px;
    cursor: text;
}

.commentsection .list-group-item {
    background-color: #DDDDDD;
}

.contentwindow a {
    color: #4673a3;
}


/* Styling utilities */

.no-margin {
    margin: 0;
}

.mr5 {
    margin-right: 5px;
}

.col1 {
    background-color: #9C2450;
}

.col2 {
    background-color: #028948;
}

.col3 {
    background-color: #4630C5;
}

.col4 {
    background-color: #E80C5D;
}

.col5 {
    background-color: #007E9C;
}

.col6 {
    background-color: #EB0010;
}

.col7 {
    background-color: #7F6CE0;
}

.col8 {
    background-color: #FA9B34;
}

.col9 {
    background-color: #C9000C;
}

.col10 {
    background-color: #EB5E0C;
}

.col11 {
    background-color: #60AB25;
}